/*Hero shot*/
.hero-shot {
    position:relative;
    overflow: hidden;
    color:white;
}
.hero-shot .hero-shot-image {
    position: relative;
}
.hero-shot .hero-shot-image img {
    width:100%;
    height:auto;
}
.hero-shot .hero-shot-overlay {
    width:calc(100% - 12%);
    padding:2vw 6%;
    bottom:0;
    height: calc(100% - 4vw);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.hero-shot h2 {
    font-size:3em;
    margin:0;
}

/*Hero shot on desktop*/
@media screen and (min-width: 1025px) {
    .hero-shot {
        max-height: 50vw;
        /* aspect-ratio: 2 / 1; */
        width: 100%;
    }
    .hero-shot .hero-shot-overlay {
        position:absolute;
        background: linear-gradient(transparent 25%, var(--ross-blue-dark) 100%), linear-gradient(transparent 25%, var(--ross-blue-dark) 100%);
    }
}
/*Hero shot on mobile*/
@media screen and (max-width: 1024px) {
    .hero-shot .hero-shot-overlay {
        background-color: var(--ross-blue-dark);
    }
    .hero-shot .hero-shot-image::before {
        content: "";
        background: linear-gradient(transparent 25%, var(--ross-blue-dark) 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right:0;
    }

}

/**************/
/* Project Info */
.project-info-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 0 2em;
}
.project-info-container > article,
.project-info-container > div {
    width: calc(50% - 4em);
    flex-grow: 1;
}
@media only screen and (min-width: 701px) {
    .project-info-container.important > article {
        border-left: 2px solid var(--ross-border-color);
        padding: 0 0 0 1em;
    }
    .project-info-container.important article ul {
        padding-inline-start: 1.5em;
    }
    .project-info-container.important > article ul > li {
        padding-left: 0.5em;
    }
}
@media only screen and (max-width: 700px) {
    .project-info-container {
        flex-direction: column;
    }
    .project-info-container > article {
        width:100%;
    }
    .project-info-container > article,
    .project-info-container > div {
        width:100%;
    }
}

/*Problem statement*/
.problem-statement {
    background-color: var(--ross-light-grey);
    border: 0.2em solid var(--ross-border-color);
    border-radius: 1em;
    padding: 0.5em 1em;
}