<div class="project-card">
    <article>               
        <div class="project-card-image">
            <img src="{=$img}" width="250px" alt="Thumbnail for {=$name} Project" />
        </div>
        <div class="project-card-text">
            <div class="project-card-info">
                <h3><a href="{=$href}">{=$name}</a></h3>
                <p>{=$description}</p>
            </div>
            <div class="project-card-tags">
                <span class="project-card-tag tag-date">{=$year}</span>
                <span class="project-card-tag tag-type">{=$type}</span>
            </div>
        </div>
    </article>
</div>